p {
  text-align: center;
  font-size: 32px;
  font-weight: 200;
  @media only screen and (min-width: 768px) {
    font-size: 64px;
  }
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #ffc23b;
  cursor: pointer;
}
