a {
  text-decoration: none;
  color: #000000;

  &:hover h2 {
    color: #ffc23b;
  }
}

img {
  width: 100%;
}

button.active:hover {
  color: #ffc23b;
}

.clickable {
  cursor: pointer;

  &:hover {
    color: #ffc23b;
  }
}

.info {
  @media only screen and (min-width: 768px) {
    margin-top: 20px;
  }
  h2 {
    font-size: 32px;
    margin: 0;
  }

  p {
    margin: 0;
    font-family: "Helvetica Neue";
    font-weight: 300;
    font-style: 18px;
    color: #8a8a8a;
  }
}

.list {
  display: flex;
  width: 100%;
  flex-direction: column;

  .col {
    padding-bottom: 30px;
    display: flex;
    width: 100%;
    flex-direction: row;

    .img-wrap {
      margin-right: 30px;
      width: 32%;
    }

    .info {
      flex: 1;
    }
  }
}

.grid {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .col {
    width: 49%;

    .info {
      margin-bottom: 50px;

      &.flex {
        display: flex;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .col {
      width: 32%;
    }
  }
}
