<div [ngClass]="{ grid: isGrid, list: !isGrid }">
  <ng-container *ngFor="let item of items">
    <a *ngIf="item.author" class="col" [routerLink]="item.id">
      <div class="img-wrap">
        <img src="{{ item.photoUrl }}" />
      </div>
      <div class="info" [ngClass]="{ flex: !item.author }">
        <h2>{{ item.title }}</h2>
        <p *ngIf="item.author">kreirao: {{ item.author }}</p>
      </div>
    </a>
    <div *ngIf="!item.author" class="col">
      <div class="img-wrap">
        <img src="{{ item.photoUrl }}" />
      </div>
      <div class="info" [ngClass]="{ flex: !item.author }">
        <h2 (click)="open(item.photoUrl)" class="clickable">
          {{ item.title }}
        </h2>
        <button class="active" (click)="delete()">
          <svg class="icon icon-trash-o">
            <use xlink:href="#icon-trash-o"></use>
          </svg>
        </button>
      </div>
    </div>
  </ng-container>
</div>
