<div class="wrap">
  <app-navigation></app-navigation>
  <app-header [title]="title"></app-header>
  <app-search></app-search>
  <app-album-grid
    [items]="album | filter"
    (onOpen)="showSinglePhoto($event)"
    (onDelete)="showAreYouSure()"
  ></app-album-grid>
  <div class="loading" *ngIf="isLoading">
    <p>Your content is being loaded as we speak!</p>
  </div>
  <ng-container *ngIf="_showAreYouSure">
    <app-are-you-sure (onClose)="hideAreYouSure()"></app-are-you-sure>
  </ng-container>
  <ng-container *ngIf="_showSinglePhoto">
    <app-single-photo
      [url]="currentUrl"
      (onClose)="hideSinglePhoto()"
    ></app-single-photo>
  </ng-container>
</div>
