<div class="login-wrap">
  <h1>Uloguješ se</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <input
      placeholder="Email adresa"
      formControlName="email"
      [class.invalid]="!lf.email.valid && lf.email.touched"
    />
    <input
      placeholder="Lozinka"
      formControlName="password"
      type="password"
      [class.invalid]="!lf.password.valid && lf.password.touched"
    />
    <button type="submit">Klikni</button>
  </form>
</div>
