.login-wrap {
  margin: auto;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  padding: 0;
  border: none;
  border-bottom: #000000 2px solid;
  width: 100%;
  height: 50px;
  margin-bottom: 33px;
  font-family: "Helvetica Neue";
  font-size: 32px;
  color: #000000;
  font-weight: 200;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-family: "Helvetica Neue";
    font-size: 32px;
    font-weight: 200;
    color: #000000;
  }

  &.invalid {
    border-color: red;
  }
}

button {
  padding: 0;
  margin: 0;
  border: none;
  height: 81px;
  width: 100%;
  background-color: #ffc23b;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 7.27px;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .login-wrap {
    width: 540px;
  }
}
