<div class="wrap">
  <app-header title="Foto albumi familije Marković"></app-header>
  <app-album-grid [items]="collection"></app-album-grid>
  <div class="loading" *ngIf="isLoading">
    <p>Your content is being loaded as we speak!</p>
  </div>
</div>
