button {
  margin: 30px;
  color: #000000;
  font-size: 64px;
  font-weight: 300;
  height: 64px;

  &.exit {
    position: absolute;
    top: 30px;
    right: 40px;
  }

  &.arrow {
    margin: 0 60px;
    font-size: 80px;
    height: 80px;
  }
}

.img-holder {
  flex-direction: row;

  img {
    max-width: 90%;
  }
}
