.search {
  border-bottom: #000000 2px solid;
  display: flex;
  margin-top: -45px;
  margin-bottom: 33px;
  align-items: center;
  max-width: 290px;

  svg {
    font-size: 24px;
    color: #c7c7c7;
    margin-right: 10px;
    margin-bottom: 2px;
  }
}

input {
  padding: 0;
  border: none;
  width: 100%;
  height: 50px;
  font-family: "Helvetica Neue";
  font-size: 32px;
  color: #000000;
  font-weight: 200;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-family: "Helvetica Neue";
    font-size: 32px;
    font-weight: 200;
    color: #c7c7c7;
  }

  &.invalid {
    border-color: red;
  }
}
