/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: "Helvetica Neue";
}

h1,
h2,
h3 {
  margin-top: 0;
  font-family: "Helvetica Neue";
  font-weight: 200;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 64px;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-search {
  width: 0.9285714285714285em;
}

.icon-th-large {
  width: 0.9285714285714285em;
}

.icon-trash-o {
  width: 0.7857142857142857em;
}

.wrap {
  margin: auto;
  width: 90%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1200px) {
  .wrap {
    width: 1114px;
  }
}

button {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  margin: 15px 0 0 10px;
  font-size: 30px;
  height: 35px;
  border: none;
  background: none;
  color: #e5e5e5;
}

button.active {
  color: #000000;
}

.full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  box-sizing: border-box;
  padding: 30px;
  margin-bottom: 20px;
  align-items: center;
  width: 100%;
  height: 180px;

  background: linear-gradient(270deg, #efefef, #e0e0e0);
  background-size: 400% 400%;

  animation: AnimationName 1s ease infinite;

  @keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  p {
    font-family: "Helvetica Neue";
    font-size: 32px;
    font-weight: 300;
    color: #888888;
  }
}
