<header>
  <h1>{{ title | titlecase }}</h1>
  <div class="actions">
    <button (click)="showGrid()" [ngClass]="{ active: isGrid }">
      <svg class="icon icon-th-large">
        <use xlink:href="#icon-th-large"></use>
      </svg>
    </button>
    <button (click)="showList()" [ngClass]="{ active: !isGrid }">
      <svg class="icon icon-th-list">
        <use xlink:href="#icon-th-list"></use>
      </svg>
    </button>
  </div>
</header>
